<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand font-weight-bold" href="#">POLL_ITE</a>

    <div class="navbar-right">
      <% if logged_in? %>
        <span class="navbar-text text-light">You are ready to vote, <%= current_user ? current_user.username : "" %> !</span>
        <%= button_to "Create Poll", '/polls/new', method: :get %>
      <%else %> 
        <div class="d-flex">
          <span class="text-light mr-3">You need to Login/Signup to vote. </span>
          <%= button_to "Login", '/login', method: :get %>
          <%= button_to "Sign Up", '/users/new', method: :get %>
        </div>
    <%end%>
    </div>
  </div>

</nav>
<header>





<%= react_component 'polls/AllPolls', { polls: @polls } %>